body{

  background-color: #e6f3ff;
  text-align: center;

  font-family: 'Merriweather', serif;
}


#cloud1{
  position: relative;
  left: 500px;
  padding-top: 10px;
}
#cloud2{
  position: absolute;
  left: 150px;
}
.middle{
  font-family: 'Montserrat', sans-serif;
  padding-top: 0;
  color: #66BFBF;
}
#myname{
  font-family: 'Sacramento', cursive;
  font-size: 468.75%;
  margin-bottom: 10px;
    margin-top: 0;
}
h2 {
  font-weight: 600;

}
#hrline{
  color: #ebebe0;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}
#myimage{
    border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #adad85;
}
.lower{
  font-family: 'Merriweather', serif;
  color:#4d94ff;
  font-weight: bolder;
}
h3{

  color:#666666;
  font-weight: bolder;


}

.skills{
  color:#4d94ff;

}
